@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Just+Me+Again+Down+Here&family=Playfair+Display&display=swap");

/* typografi */
.overskrift,
.overskrift1,
h3 {
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Just Me Again Down Here";
}
h4,
p {
  font-family: "Dosis";
}

/* -------Font sizes------- */

/* h1 */
.overskrift,
.overskrift1 {
  font-size: var(--font-size-8);
}

/* h2 */
.underskrift {
  font-size: var(--font-size-6);
}

/* h3 */
.overskrift_h3 {
  font-size: var(--font-size-4);
  color: #56150a;
}
h4 {
  /* font-size: var(--font-size-5); */

  color: #56150a;
  text-align: center;
}
/* --------- Color --------- */

p {
  color: #313131;
}

/* ----------- mellemrum i afsnit --------- */
.text {
  padding-bottom: 5%;
}

h3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.citat {
  font-family: "Just Me Again Down Here";
  font-size: var(--font-size-4);
}

.textmain {
  padding: 5%;
  padding-left: 30%;
  padding-right: 30%;
}
