@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Just+Me+Again+Down+Here&family=Playfair+Display&display=swap");

/* ------------------- typografi --------------------*/
.overskrift,
.overskrift1,
h3 {
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Just Me Again Down Here";
}
h4,
p {
  font-family: "Dosis";
}
.citat,
.videocitat {
  font-family: "Just Me Again Down Here";
}

.quote {
  font-family: "Just Me Again Down Here";
}

/* --------------- Font sizes ------------------ */

/* h1 */
.overskrift,
.overskrift1 {
  font-size: var(--font-size-8);
}

/* h2 */
.underskrift {
  font-size: var(--font-size-6);
}

/* h3 */
.overskrift_h3 {
  font-size: var(--font-size-5);
}

/* h4 */
h4 {
  text-align: center;
}

/* citater */
.citat,
.videocitat {
  font-size: var(--font-size-4);
}
/* ------------------- Color ----------------- */

p {
  color: #313131;
}
.overskrift_h3,
h4 {
  color: #56150a;
}
.citat,
.videocitat {
  color: #fcfbfb;
}

body {
  /* background-color: var(--sand-1); */
  background-color: #fbfbfb;
}

/* ---------------- mellemrum i afsnit -------------- */
.text {
  padding-bottom: 5%;
  max-width: 650px;
}

h3 {
  padding: 5% 0% 5% 0%;
}

.textmain,
.intro {
  padding: 5%;
  padding-left: 30%;
  padding-right: 30%;
}

@media screen and (max-width: 600px) {
  .textmain,
  .intro {
    padding: 5%;
    padding-left: 8%;
    padding-right: 8%;
  }
}
