---
import "../styles/global.css";
import "../styles/reset.css";
---

<main class="textmain">
  <section>
    <h3 class="overskriftEnskillevej">En skillevej</h3>
  </section>

  <section class="text">
    <p>
      Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed.
      Pierre besluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.
    </p>
    <section class="text">
      <p>
        Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det
        at tage billeder.
      </p>
    </section>
    <section class="text">
      <p>
        Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på
        rekordtid.
      </p>
    </section>
  </section>
</main>

  <style>
     main {
    
    /* background-color: var(--sand-3); */
  
    background-color: #FBFBFB;
  }


  .pierre {
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


  </style>

<script>

  import { gsap } from "gsap";
  
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.from(".overskriftEnskillevej", {
    opacity:0,
    scrollTrigger: {
      trigger: ".overskriftEnskillevej",
      // markers: true,
      start:"start 80%",
      toggleActions: "play none none reverse",
      toggleClass: "pierre",
    },
  });
  </script>
