---
import "../styles/global.css";
import "../styles/reset.css";
---

<main>
  <h1 class="overskrift">Uperfekt </h1>
  <h1 class="overskrift1">er perfekt</h1>

  <h2 class="underskrift">Pierre Falcke</h2>
</main>

<style>
  /* main {
    height: 790px;
    width: 100%;
    background-image: url("../assets/landingpage.jpg");
    background-size: cover;
  } */

  /* .overskrift {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .underskrift {
    height: 20vh;
    left: 150px;
    bottom: 30px; 
    align-items: center;
    padding-left: 200px;
    eight: 20vh;
    align-items: center;
    padding-left: 200px; 
    margin-left: auto; 
    display: flex;
  } */
  main {
    height: 790px;
    width: 100%;
    background-image: url("../assets/landingpage.jpg");
    background-size: cover;
  }

  .overskrift, .overskrift1{
    top: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #56150A;
    font-size: 8rem;
    font-weight: 400;
  }

  .underskrift {
    /* height: 20vh; */
    margin-left: 35%; /* Flyt til høyre */
    display: flex;
    align-items: center;
    padding-left: 200px;
    color: #D5D2CB;
    font-size: 6rem;
    transform: rotate(-10deg);
  }
</style>
