---
import "../styles/global.css";
import "../styles/reset.css";
import { Image } from "astro:assets";
import stock1 from "../assets/stock_1.png";
import stock2 from "../assets/stock_2.png";
import stock3 from "../assets/stock_3.png";
import stock4 from "../assets/stock_4.png";
---

<section class="image-container">
  <div class="img"><Image src={stock1} format="webp" alt="stock" class="stock1" /></div>
  <div class="img"><Image  src={stock2} format="webp" alt="stock" class="stock2" /></div>
  <div class="img"><Image src={stock3} format="webp" alt="stock" class="stock3" /></div>
  <div class="img"><Image  src={stock4} format="webp" alt="stock" class="stock4" /></div>
</section>

<style>
 .image-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .img {
  filter: grayscale(100%);
 }

 .img:hover{
  filter: grayscale(0%);
 }

</style>
