---
import "../styles/global.css";
import "../styles/reset.css";
---

<main>
  <p class="citat">Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt"</p>
</main>

<style>
  main {
    height: 790px;
    width: 100%;
    background-image: url("../assets/landingpage.jpg");
    background-size: cover;
  }
</style>
