---
import "../styles/global.css";

import "../styles/reset.css";
---

<main>
  <section class="video-container">
    <video id="video" autoplay muted loop>
      <source src="/eksperi-video.mp4" type="video/mp4" />
    </video>
  </section>
  
  <section class="videocitat">
    <div>
      <p class="citat">"Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt"</p>
    </div>
  </section>

  <style>
    main
   {height: 100vh;}



    .citat {
      display: flex;
      justify-content:center;
      position: relative;
      text-align: center;
      max-width: 100vw;
      overflow-x: hidden;
      max-width: 600px;
      top: -400px;
      z-index:1;
     
    }



    .div{
      display: flex;
      justify-self:center;
      
    }


    #video {
      /* position: absolute; */

      width: 100vw;

      height: 100vh;

      object-fit: cover;

      z-index: 0;
    }

 

  </style>

  <script>
    // import { gsap } from "gsap";

    // import { ScrollTrigger } from "gsap/ScrollTrigger";

    // gsap.registerPlugin(ScrollTrigger);

    // gsap.to(".citat", {
      
    //   scrollTrigger: {
    //     trigger: ".citat",
    //     markers: true,
    //     scrub: true,
    //     start: "start center",
    //   },
    // });

    // gsap.from(".video", {
    //   trigger: ".video",
    //   markers: true,
    //   scrub: true,
    //   start: "start end",
    // });

  


    
  </script>

